force-app/main/default/flows/Progress_Trail_Create_Trail_for_Case_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>actionCreateTrailSegments</name>
        <label>Create Trail Segments</label>
        <locationX>902</locationX>
        <locationY>293</locationY>
        <actionName>ProgressTrailApexAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>setCountNewSegments</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ParamExternalActiveGuidanceType</name>
            <value>
                <elementReference>constantExternalGuidanceActiveType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ParamInternalActiveGuidanceType</name>
            <value>
                <elementReference>constantInternalGuidanceActiveType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ParamPassRecordIdToExternalFlow</name>
            <value>
                <elementReference>constantPassRecordIdToExternalFlow</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ParamPassRecordIdToInternalFlow</name>
            <value>
                <elementReference>constantPassRecordIdToInternalFlow</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ParamTrailId</name>
            <value>
                <elementReference>createProgressTrail</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>setCountConflicts</name>
        <label>Count Conflicts</label>
        <locationX>483</locationX>
        <locationY>192</locationY>
        <assignmentItems>
            <assignToReference>countConflictingTrails</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getConflictingTrails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decAnyTrailsWithSameName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCountNewSegments</name>
        <label>Count New Segments</label>
        <locationX>1017</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>countNewSegments</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>actionCreateTrailSegments.segList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decSegmentsCreated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setSegmentWarning</name>
        <label>Set Segment Warning</label>
        <locationX>1352</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>errorNoSegmentsCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>s99</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>constantDeveloperNotes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>This is a trail that can be used for Cases, based on the picklist values of the Status field.</stringValue>
        </value>
    </constants>
    <constants>
        <name>constantExternalGuidanceActiveType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Display Rich Text</stringValue>
        </value>
    </constants>
    <constants>
        <name>constantFieldAPIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Status</stringValue>
        </value>
    </constants>
    <constants>
        <name>constantInternalGuidanceActiveType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Display Rich Text</stringValue>
        </value>
    </constants>
    <constants>
        <name>constantPassRecordIdToExternalFlow</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </constants>
    <constants>
        <name>constantPassRecordIdToInternalFlow</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </constants>
    <constants>
        <name>constantProgressTrailName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Case Status Trail</stringValue>
        </value>
    </constants>
    <constants>
        <name>constantRelatedObjectAPIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </constants>
    <decisions>
        <name>decAnyTrailsWithSameName</name>
        <label>Any Trails with the Same Name?</label>
        <locationX>603</locationX>
        <locationY>194</locationY>
        <defaultConnector>
            <targetReference>createProgressTrail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>outTrailsWithSameNameYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countConflictingTrails</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>s02</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>decSegmentsCreated</name>
        <label>Segments Created?</label>
        <locationX>1131</locationX>
        <locationY>295</locationY>
        <defaultConnector>
            <targetReference>setSegmentWarning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Created</defaultConnectorLabel>
        <rules>
            <name>outSegmentsCreatedYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countNewSegments</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>s99</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <description>Create a Progress Trail for the Case object&apos;s Status field.

1/10/2022:  Initial creation of flow.</description>
    <dynamicChoiceSets>
        <name>picklistExternalGuidanceActiveType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>External_Guidance_Active_Type__c</picklistField>
        <picklistObject>Progress_Trail_Segment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistInternalGuidanceActiveType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Internal_Guidance_Active_Type__c</picklistField>
        <picklistObject>Progress_Trail_Segment__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Progress Trail - Create Trail for Case Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Progress Trail - Create Trail for Case Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createProgressTrail</name>
        <label>Create Progress Trail</label>
        <locationX>782</locationX>
        <locationY>293</locationY>
        <connector>
            <targetReference>actionCreateTrailSegments</targetReference>
        </connector>
        <inputAssignments>
            <field>Developer_Notes__c</field>
            <value>
                <elementReference>constantDeveloperNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>constantProgressTrailName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Object_API_Name__c</field>
            <value>
                <elementReference>constantRelatedObjectAPIName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Field_API_Name__c</field>
            <value>
                <elementReference>constantFieldAPIName</elementReference>
            </value>
        </inputAssignments>
        <object>Progress_Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getConflictingTrails</name>
        <label>Get Conflicting Trails</label>
        <locationX>306</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setCountConflicts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>setCountConflicts</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>constantProgressTrailName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Progress_Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>s01</name>
        <label>Start</label>
        <locationX>176</locationX>
        <locationY>192</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getConflictingTrails</targetReference>
        </connector>
        <fields>
            <name>text01a</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Want to just quickly create a trail for the Case object&apos;s Status field&lt;/b&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Create a Trail for Case Status Now &gt;</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s02</name>
        <label>Conflict Trail Exists</label>
        <locationX>782</locationX>
        <locationY>80</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text02a</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;Oops!  There&apos;s already a trail called &quot;{!constantProgressTrailName}&quot;.  Maybe you&apos;ve already run this flow?  Rename the conflicting Trail and try again.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Try Again &gt;</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s99</name>
        <label>Finished</label>
        <locationX>1352</locationX>
        <locationY>223</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error99a</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Well, we tried to create Segments for the field you mentioned, but something happened and {!countNewSegments} were created.  You may have to create them manually from the Progress Trail record.  Sorry about that.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>errorNoSegmentsCreated</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>text99a</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;That&apos;s it!  Your new Progress Trail, &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!constantProgressTrailName}&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;, is ready to be configured.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Salesforce auto-created &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!countNewSegments}&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; Progress Trail Segments... one for each active value in the &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!constantRelatedObjectAPIName}&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; object&apos;s &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!constantFieldAPIName}&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; picklist field. Visit your Progress Trail record and edit each of the segments to designate the rich text and/or flows you wish to show to internal and external users.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>s01</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>countConflictingTrails</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countNewSegments</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>errorNoSegmentsCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>errorTrailsWithSameName</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varDraftSegment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Progress_Trail_Segment__c</objectType>
    </variables>
    <variables>
        <name>varDraftSegmentColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Progress_Trail_Segment__c</objectType>
    </variables>
</Flow>
